@tailwind base;
@tailwind components;
@tailwind utilities;

.image-glass {
  /* From https://css.glass */
  background: rgba(131, 129, 129, 0.29);
  border-radius: 16px;
  box-shadow: inset 0px 0px 20px 2px rgb(0 0 0 / 14%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgb(180, 180, 180);
}

.image-glass-button {
  /* From https://css.glass */
  background: rgba(245, 245, 245, 0.66);
  border-radius: 16px;
  box-shadow: inset 0px 0px 20px 2px rgb(0 0 0 / 14%);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgb(190, 190, 190);
}

.background-button {
  background: url("./assets/Background/background-button.webp") no-repeat center
    center;
  background-size: cover;
}

.background-home {
  background: url("./assets/Background/background-home.webp") no-repeat center
    center;
  background-size: cover;
}
