@tailwind base;
@tailwind components;
@tailwind utilities;

.background-button {
  background: url("./assets/Background/background-button.webp") no-repeat center
    center;
  background-size: cover;
}

.background-home {
  background: url("./assets/Background/SVG/background-mii-maker.svg")
    no-repeat center center;
  background-size: cover;
  position: fixed;
}

.title-avatar {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(221, 221, 221) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(221, 221, 221) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(221, 221, 221) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ebebeb",GradientType=1);
}

/* Tema Nintendo Switch */
.switch-theme {
  background: #d8d8d8;
  box-shadow: none;
}

.switch-theme .button {
  background: #eeeeee;
  color: #41a5a3;
}

.switch-theme .button:hover {
  border: 2px solid #4abfbe;
}

.switch-theme svg {
  fill: #4abfbe;
}