@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cor-tema-switch-azul: #41a5a3;
  --cor-tema-switch: #d8d8d8;
  --cor-tema-switch-cinza-claro: #eeeeee;
  --cor-tema-switch-cinza-escuro: #313131;
}

.background-button {
  background: url("./assets/Background/background-button.webp") no-repeat center
    center;
  background-size: cover;
}

.background-home {
  background: url("./assets/Background/SVG/background-mii-maker.svg") no-repeat
    center center;
  background-size: cover;
  position: fixed;
}

.title-avatar {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(221, 221, 221) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(221, 221, 221) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(221, 221, 221) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ebebeb",GradientType=1);
}

/* Tema Nintendo Switch */
.switch-theme {
  background: var(--cor-tema-switch);
  box-shadow: none;
}

.switch-theme .button {
  background: var(--cor-tema-switch-cinza-claro);
  color: var(--cor-tema-switch-azul);
  box-shadow: none;
}

.switch-theme .icon-button svg {
  fill: var(--cor-tema-switch-cinza-escuro);
}

.switch-theme .button:hover {
  border: 2px solid var(--cor-tema-switch-azul);
}

.switch-theme svg {
  fill: var(--cor-tema-switch-azul);
}

.switch-theme .icons span {
  color: var(--cor-tema-switch-cinza-escuro);
}

.switch-theme .avatar {
  background: var(--cor-tema-switch-cinza-claro);
  border-radius: 50%;
  box-shadow: none;
}

.switch-theme .avatar-container-description {
  background: none;
  border: none;
  box-shadow: none;
}

.switch-theme .avatar-name {
  color: var(--cor-tema-switch-azul);
}

.switch-theme .avatar-description {
  color: var(--cor-tema-switch-cinza-escuro);
}

.horizontal-line {
  border-top: 1px solid var(--cor-tema-switch-cinza-escuro);
  width: 90%;
}
